h1{
  text-align: center;
  color: blue;
}

.container {
  display: flex;
  width: 100%;
}

.main{
  margin: auto 20px;
  width: 80%;
    h1{
      margin: 0 auto;
    }
    .filter-secondary{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 20px;
    }
    .characters {
      display: flex;
      flex-wrap: wrap;
    }
}

#sidebar {
  width: 20%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #222;
  transition: all 0.5s ease;
  color: #ffffff;
}

#content {
  width: 80%;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-direction: row;
}

.app-list{
  display: flex;
  flex-wrap: wrap;
}





.bottom-border {
    border-bottom: 1px solid #fff;
  }
  
  .card-component__section{
      background-color: black;
      width: 250px;
      padding: 5px 2px;
      position: relative;
      .card-component__content{
        position: relative;
        margin: 0 5px;
      }
      img {
        text-align: center;
        display: block;
        margin: 0 auto;
        border-radius: 5px 5px 0px 0px;
      }
      .card-component__header {
        background-color: black;
        color: #fff;
        opacity: 0.6;
        padding: 10px 15px;
        position: absolute;
        top:-56px;
        width: -webkit-fill-available;
      }
      .card-component__details{
        background-color: #303030;
        color: #fff;
        padding: 20px;

          label{
            color: orange;
            float: right;
          }
      }
  }